
.notification li
{
	
	width:270px;
	
}
.notification ul
{

	padding-left:20px;
	margin:0px;
	float:left;
	width:230px;

}

.notification .notify_col
{
	width:300;
	float:left;
}


.notification .live_notify_top
{
	width:302px;
	height:15px;
	background-image:url(../../resources/top.png);
	float:left;
}

.notification input
{
	
	float:left;
	
}

.notification input.sub
{
	
	margin-top:5px;
	
}

.notification .live_notify_mid
{
	width:302px;
	background-image:url(../../resources/mid.png);
	float:left;
}

.notification .notif_content
{
	color:#ffffff;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:15px;
	width:270px;
	font-size:14px;
	-moz-border-radius:9px;
	border-radius:9px;
	word-wrap:break-word;
	float:left;
}

.notification  a
{
	color:lightblue;
}


.notification .live_notify_bot
{
	width:302px;
	height:19px;
	margin-bottom:5px;
	margin-top:0px;
	float:left;
	background-image:url(../../resources/bot.png);
}

.notification .spn
{
	float:left;
	margin-top:12px;
	color:#aaaaaa;
}

.notification .img_inline
{
	display:inline;
	float:left;
	margin-right:10px;
	margin-top:6px;
}

.notification p
{
margin:0px 10px 0px 0px; 
width:auto;

}

.notification .img_c
{
	float:left;
	margin-top:-5px;
	margin-left:105px;
	margin-bottom:0px;
	width:42px;
	height:42px;
	cursor:pointer;
}

.notification .live_notify_chk
{
	float:left;
	margin-top:12px;
	border:none;
}

.notification .live_notify_footer
{
	width:270px;
	height:30px;
	float:left;
	margin-left:15px;
}


